html {
  font-family: sans-serif;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
p {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
.clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.fixed {
  position: fixed;
}